.idea
**/docker
**/node_modules
**/volumes
**/dist
**/build
**/logs
**/.vscode
*.eslintcache
*.env
*.log
*-log-audit.json
*.iml
**/gen-src/
**/coverage/
**/.nyc_output/
/**/*.pem
/**/*.srl
/**/*.pfx
**/generated/
.DS_Store
